.intro {
    display: flex;
}
.left {
    flex: 1;
}
.right {
    flex: 1;
}
.wrapperleft {
    padding: 50px;
}
.txt {
    font-size: 30px;
}
.name {
    font-size: 50px;
}
.tittle {
    height: 50px;
    overflow: hidden;
}
.tittlewrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    50% {
    transform: translateY(-50px);
    }
    100% {
    transform: translateY(-100px);
    }
}
.item {
    height: 60px;
    font-size: 25px;
    overflow: hidden;
    color: rgb(59, 225, 44);
    display: flex;
    align-items: center;
}

.image {
    width: 80%;
    height: 100%;
    object-fit: cover;
    margin-top: 2vw;
} 